<main class="home-container">
  <section class="container__logo">
    <img [src]="logo" alt="record logo" />
  </section>
  <section class="container__register">
    <form (submit)="handleSubmit()">
      <input
        type="text"
        name="doit"
        placeholder="O que deseja fazer hoje?"
        required
        #doit="ngModel"
        [(ngModel)]="form.userInput"
      />
      <button type="submit">Adicionar</button>
    </form>
  </section>

  <section
    class="container_results"
    *ngFor="let list of doList; let index = index"
  >
    <p class="results_title">{{list.userInput}}</p>
    <div class="results_timer">
      <div class="timer-buttons">
        <button>
          <fa-icon (click)="handleChronomether(index, 'pause')" [icon]="pauseCircle"></fa-icon>
        </button>
        <button (click)="handleChronomether(index, 'start')" >
          <fa-icon [icon]="playCircle"></fa-icon>
        </button>
        <button (click)="handleChronomether(index, 'stop')">
          <fa-icon [icon]="stopCircle"></fa-icon>
        </button>
      </div>

      <p class="timer-display">{{list.clock}}</p>

    </div>
  </section>

</main>
<section class="bg-container">
  <img src="../../assets/bg-desk.svg" alt="background" />
</section>
