<app-header>
  <style>
    .demo-list-action {
      width: 300px;
    }

    .favorito {
      color: purple;
    }
    </style>

    <div *ngFor='let lista of listagem; let i = index' class="demo-list-action mdl-list">
      <div class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <p style="display: block;">{{lista.classe}}</p>
          <p style="display: block;">{{lista.descricao}}</p>
        </span>
        <a (click)="handleStarClick(i)" class="mdl-list__item-secondary-action" href="#"><i [ngClass]="{'favorito': lista.favorite}" class="material-icons">star</i></a>
      </div>
    </div>

    <div>
      <p>{{ataque}}</p>
      <button (click)="handleAtk()">Ataque!</button>
    </div>


    <form
    style="
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    "
    #form="ngForm"
    (submit)="handleSubmit(form)"
    >
      <input required name="nome" type="text" [(ngModel)]="form.nome" />
      <input required name="raca" type="text" [(ngModel)]="form.raca" />
      <input required name="classe" type="text" [(ngModel)]="form.classe"/>
      <input required name="nivel" type="number" [(ngModel)]="form.nivel" />
      <input required name="telefone" type="text" [(ngModel)]="form.telefone"/>
      <button type="submit">Submit</button>
    </form>


</app-header>
