<button (click)="handleClick()" class="margin-right red mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Button
</button>

<div class="flex-box">
  <input type="email" name="email" appCustomPlaceholder />
  <input type="password" name="password" appCustomPlaceholder/>
  <button [ngClass]="{'blue': isBlue}" [disabled]="disabled" class="red button">Entrar</button>
</div>

<p [ngClass]="{'hidden': isHidden}">22 + 22 = {{22+22}}</p>
<p>{{title}}</p>


<app-xablau></app-xablau>
